/*
  You can use import statements to include partials:
 */
@import "imports/reset.css";
@import "imports/variables.css";

/*
  Or add your statements here:
 */
body {
  font-family: var(--font-family), serif;
  font-size: 1em;
  color: var(--color);
  background-color: white;
}

section {
  lost-utility: clearfix;
}

section div {
  lost-column: 1/2;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headline), sans-serif;
  font-size:5em;
}
